{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src={% static "/img/hero-logo.png" %} alt=""></a>
      <h1 data-aos="zoom-in">Restaurant</h1>
      <h2 data-aos="fade-up">This is a table with all of the restaurants</h2>
      <table class="table datatable dataTable-table">
        <thead>
           <tr>
              <th scope="col" data-sortable="" style="width: 28.0093%;"><a href="#" class="dataTable-sorter">Restaurant</a></th>
              <th scope="col" data-sortable="" style="width: 28.0093%;"><a href="#" class="dataTable-sorter">Overall Rating</a></th>
              <th scope="col" data-sortable="" style="width: 5.6713%;"></th>
              <th scope="col" data-sortable="" style="width: 5.6713%;"></th>
           </tr>
        </thead>
        <tbody style="color:white">
            {% if restaurants.count > 0 %}
              {% for restaurant in restaurants %}
              <tr>
                  <th scope="row">
                    {{ restaurant.name }}
                  </th>
                  <td>
                      {{ restaurant.score }}
                  </td>
                  <td>
                    <form method="POST" action="{% url 'delete' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary" name="delete" id="delete">Delete Restaurant</button>
                      <input type="hidden" name="id" id="id" value={{ restaurant.id }}></input>
                    </form>
                  </td>
                  <td>
                    <a href="{% url 'show' id=restaurant.id %}">
                    <button class="btn btn-primary" name="edit" id="edit">Edit Restaurant Info</button>
                    </a>
                  </td>
              </tr>
              {% endfor %}
            {% else %}
              There are currently no restaurants.
            {% endif%}
        </tbody>
     </table>
      {% comment %} <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Restaurant</a> {% endcomment %}
    </div>
  </section><!-- End Hero -->
{% endblock %}